.card-order-block-wrapper {
    display: flex;
    width: 100vw;
    justify-content: center;
}
.card-order-block {
    width: 60vw;
}
.ordercard-h2 {
    margin-top: 30px;
}
.order-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.order-card {
    width: 40%;
    font-size: 20px;
    padding: 20px;
    border: 0;
    border-radius: 8px;
    transition: all 0.5s;
}
.order-credit {
    background-color: #333333;
    color: white;
}
.order-debit {
    background-color: #f5c02d;
}
.order-card:hover {
    transform: scale(105%);
}