footer {
    display: flex;
    border-radius: 0;
    width: 100vw;
    background-color: #292929;
    /* min-height: 50px; */
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: 'Noto-Sans-Mono', sans-serif;
    padding: 20px;
    width: 50vw;
    color: #818181;
}

.footer-link {
    color: #818181;
}