body, header { 
    padding: 0px;
    margin: 0px;
    display: flex;
    background-color: #f6f7f8;
    font-family: "Comfortaa";
}

.third-block-content {
    padding: 0px 25px 0px 20px;
}

nav {
    display: flex;
}