body, ul, ol, li, header { 
    padding: 0px;
    margin: 0px;
    display: flex;
    background-color: #f6f7f8;
    font-family: "Comfortaa";
    
}

nav {
    display: flex;
}

.header-logo {
    --logo-image-width: 34px;
}

.header-logo-image {
    width: var(--logo-image-width)
}